
.embla {

  overflow: hidden;
  background-color: #a7c4d2;
  position: relative;
  margin: 0 auto;
  max-width: 100vw;
  margin-bottom: 0px;
  border: solid #a7c4d2 5px;
  margin-top: 0px;


}
.embla__container {
  display: flex;
  align-items: flex-start; 
  transition: height 0.2s;
}
.embla__slide {
  background-color: #a7c4d2;
  flex: 0 0 100%;
  min-width: 0;
 
 display: flex;

 
}
.embla__prev{
position: absolute;
left: -10px;
top: 0px;
background:transparent;
border: 0px;
height: 340px;
z-index: 4;
cursor: pointer;
}


.embla__next{
  position: absolute;
 right: -10px;
  top: 0px;
  background: transparent;
border: 0px;
height: 340px;
z-index: 4;
cursor: pointer;
}



.embla__next img{
  rotate: 180deg;
}


.slide{
  display: flex;
 
 
}
.embla__slide{
padding: 5px;
gap: 5px;
border-radius: 10px;
}

.embla__slide img{
  display: block;
  max-width: 99vw;
  height: 330px;
 border-radius: 10px;
}

@media (min-width: 1500px){
  .embla__slide img{
    height: 372px;
  }
}