
.embla {

  overflow: hidden;
  background-color: #a7c4d2;
  position: relative;
  margin: 0 auto;
  max-width: 100vw;
  margin-bottom: 0px;
  border: solid #a7c4d2 5px;
  margin-top: 0px;


}
.embla__container {
  display: flex;
  align-items: flex-start; 
  transition: height 0.2s;
}
.embla__slide {
  background-color: #a7c4d2;
  flex: 0 0 100%;
  min-width: 0;
 
 display: flex;

 
}
.embla__prev{
position: absolute;
left: 0px;
top: 0px;
background:transparent;
border: 0px;
height: 100%;
z-index: 4;
cursor: pointer;
}


.embla__next{
  position: absolute;
 right: 0px;
  top: 0px;
  background: transparent;
border: 0px;
height: 100%;
z-index: 4;
cursor: pointer;
}



.embla__next img{
  rotate: 180deg;
 max-width: 30px;
}
.embla__prev img{
 max-width: 30px;
}

.slide{
  display: flex;
 
 
}
.embla__slide{
padding: 5px;
gap: 5px;
border-radius: 10px;
object-fit: cover;
}

.embla__slide img{
  display: block;
  width: 100vw;
  max-width: 100%;
 height: 280px ;
 border-radius: 10px;
 object-fit: cover;
}





@media (max-width: 1480px){
  .embla__slide img{
    height: 240px;
  }
}

@media (max-width: 1300px){
  .embla__slide img{
    height: 220px;
  }
}
@media (max-width: 1100px){
  .embla__slide img{
    height: 180px;
  }
}
@media (max-width: 950px){
  .embla__slide img{
    height: 150px;
  }
}
@media (max-width: 750px){
  .embla__slide img{
    height: 120px;
  }
}

@media (max-width: 600px){
  .embla__slide img{
    height: 100px;
  }
  
  .embla__next{
    display: none ;
  }
  .embla__prev{
    display: none ;
  }
  .embla__slide img{
    border-radius: 5px;
  }
}
@media (max-width: 500px){
  .embla__slide img{
    height: 70px;
  }
}

