
.embla {

  overflow: hidden;
  background-color: #a7c4d2;
  position: relative;
  margin: 0 auto;
  max-width: 100vw;
  margin-bottom: 0px;
  border: solid #a7c4d2 5px;
  margin-top: 0px;


}
.embla__container {
  display: flex;
  align-items: flex-start; 
  transition: height 0.2s;
}
.embla__slide {
  background-color: #a7c4d2;
  flex: 0 0 100%;
  min-width: 0;
 
 display: flex;

 
}
.embla__prev{
position: absolute;
left: -10px;
top: 0px;
background:transparent;
border: 0px;
height: 100%;
z-index: 4;
cursor: pointer;
}


.embla__next{
  position: absolute;
 right: -10px;
  top: 0px;
  background: transparent;
border: 0px;
height: 100%;
z-index: 4;
cursor: pointer;
}



.embla__next img{
  rotate: 180deg;
}


.slide{
  display: flex;
 
 
}
.embla__slide{
padding: 5px;
gap: 5px;
border-radius: 10px;
object-fit: cover;
}

.embla__slide img{
  display: block;
  max-width: 100%;
 height: 380px ;
 border-radius: 10px;
 object-fit: cover;
}





@media (min-width: 1880px){
  .embla__slide img{
    height: 400px;
  }
}
@media (min-width: 2090px){
  .embla__slide img{
    height: 430px;
  }
}
@media (min-width: 2200px){
  .embla__slide img{
    height: 470px;
  }
}
@media (min-width: 2400px){
  .embla__slide img{
    height: 510px;
  }
}

@media (max-width: 1680px){
  .embla__slide img{
    height: 350px;
  }
}

@media (max-width: 1570px){
  .embla__slide img{
    height: 330px;
  }
}
@media (max-width: 1400px){
  .embla__slide img{
    height: 270px;
  }
}
@media (max-width: 1200px){
  .embla__slide img{
    height: 240px;
  }
}
@media (max-width: 1100px){
  .embla__slide img{
    height: 220px;
  }
}
@media (max-width: 1000px){
  .embla__slide img{
    height: 200px;
  }
}
@media (max-width: 800px){
  .embla__slide img{
    height: 160px;
  }
  .embla__next img{
    width: 35px;
  }
  .embla__prev img{
    width: 35px;
  }
}
@media (max-width: 600px){
  .embla__slide img{
    height: 130px;
  }
  .embla__next{
    display: none ;
  }
  .embla__prev{
    display: none ;
  }
  .embla__slide img{
    border-radius: 5px;
  }
}
@media (max-width: 460px){
  .embla__slide img{
    height: 100px;
  }
}
